altgraph==0.17.3
certifi==2022.12.7
chardet==3.0.4
charset-normalizer==2.1.1
future==0.18.2
idna==3.4
macholib==1.16.2
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.11
PyJWT==2.4.0
requests==2.28.1
requests-toolbelt==0.9.1
tinydb==4.7.0
urllib3==1.26.13
webexteamssdk==1.3
